<mat-toolbar color="primary">
   <button mat-icon-button class="no-show"
          aria-label="Example icon-button with menu icon"
          (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span></span>
  <span class="example-spacer">Flamenco Álora</span>
  <button mat-icon-button class="no-show favorite-icon" routerLink="/login" routerLinkActive="active">
    <mat-icon>build</mat-icon>
  </button>
  <button mat-icon-button class="no-show" aria-label="Example icon-button with share icon" routerLink="/home" routerLinkActive="active">
   <mat-icon>home </mat-icon>
 </button>

 <app-header-button-translate></app-header-button-translate>
</mat-toolbar>

