<mat-toolbar color="primary">
   <button mat-icon-button class="no-show"
          aria-label="Example icon-button with menu icon"
          (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span></span>
  <span class="example-spacer">Flamenco Álora</span>
  <button mat-icon-button class="no-show favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>build</mat-icon>
  </button>
  <button mat-icon-button class="no-show" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>

